@import url("//hello.myfonts.net/count/3cea3b");
@font-face {
  font-family: "Barrington";
  src: url("webFonts/Barrington/font.woff2") format("woff2"),
    url("webFonts/Barrington/font.woff") format("woff");
}

* {
  box-sizing: border-box;
}
header {
  background-color: #eaeff3;
}

h1 {
  color: rgb(100, 99, 99);
  font-family: Barrington;
  text-align: center;
  font-weight: 600 !important;
  padding-top: 5%;
  padding-bottom: 5%;
}

body {
  background-color: rgb(43, 41, 41) !important;
}

#home {
  list-style-type: none;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#home-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#home-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#food-menu {
  list-style-type: none;
  font-family: Barrington;
  font-size: 20px;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#menu-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#menu-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#contact {
  list-style-type: none;
  font-family: Barrington;
  font-size: 20px;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#contact-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#contact-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#gallery {
  list-style-type: none;
  font-family: Barrington;
  font-size: 20px;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#gallery-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#gallery-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}
#name {
  border: rgb(70, 33, 70) solid 2px;
  border-radius: 8px;
  color: rgb(43, 41, 41);
  font-family: sans-serif;
  font-size: 20px;
  background-color: #eaeff3;
  padding: 10px;
  width: 60%;
}

#email {
  border: #464a4b solid 2px;
  border-radius: 8px;
  color: #464a4b;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #eaeff3;
  padding: 10px;
  width: 75%;
}

#submit-button {
  border: #464a4b solid 2px;
  border-radius: 8px;
  color: #464a4b;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #eaeff3;
  padding: 10px;
  width: 30%;
}

#submit-button:hover {
  background-color: #464a4b;
  color: rgb(231, 225, 225);
}
#message-box {
  border: #464a4b solid 2px;
  border-radius: 8px;
  color: #464a4b;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #eaeff3;
  width: 75%;
  text-align: center;
  padding: 100px;
}

.contact-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  object-fit: cover;
  margin-top: 20px;
  float: right;
  border-radius: 5px;
  padding-bottom: 20px;
}

footer {
  color: #eaeff3;
  font-family: sans-serif;
  text-align: center;
}

#footer-link {
  color: #eaeff3;
  font-family: sans-serif;
}

#email-us {
  color: #eaeff3;
}

#mailto-link {
  color: #464a4b;
  text-decoration: none;
}

#mailto-link:hover {
  color: #eaeff3;
  text-decoration: none;
}

#google-link {
  color: #eaeff3;
  font-family: sans-serif;
  text-emphasis: none;
  display: block;
  line-height: 20px;
  margin-left: 30px;
  margin-top: 50px;
}
