@import url("//hello.myfonts.net/count/3cea3b");
@font-face {
  font-family: "Barrington";
  src: url("webFonts/Barrington/font.woff2") format("woff2"),
    url("webFonts/Barrington/font.woff") format("woff");
}

header {
  background-color: #eaeff3;
  padding: 50px;
  padding-bottom: 70px;
}

h1 {
  color: rgb(100, 99, 99);
  font-family: Barrington;
  text-align: center;
  font-weight: 600 !important;
  font-size: 40px;
  padding: 20px;
}

body {
  background-color: rgb(43, 41, 41) !important;
}

#home {
  list-style-type: none;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#home-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#home-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#food-menu {
  list-style-type: none;
  font-family: Barrington;
  font-size: 20px;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#menu-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#menu-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#contact {
  list-style-type: none;
  font-family: Barrington;
  font-size: 20px;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#contact-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#contact-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#gallery {
  list-style-type: none;
  font-family: Barrington;
  font-size: 20px;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#gallery-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#gallery-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

footer {
  color: #eaeff3;
  font-family: sans-serif;
  text-align: center;
}

#footer-link {
  color: #eaeff3;
  font-family: sans-serif;
}
