@font-face {
  font-family: "barrington";
  src: url("webFonts/Barrington/font.woff2") format("woff2"),
    url("webFonts/Barrington/font.woff") format("woff");
}

* {
  box-sizing: border-box;
}

header {
  background-color: #eaeff3;
}

h1 {
  color: rgb(100, 99, 99);
  text-align: center;
  font-weight: 600 !important;
  padding-top: 3%;
  padding-bottom: 2%;
  font-family: barrington;
}

h2 {
  font-weight: 500;
  color: #eaeff3;
  margin-bottom: 10%;
  font-family: barrington;
}

body {
  background-color: rgb(43, 41, 41);
}
#headerLinks {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  line-height: 5%;
}

#home-link {
  font-size: larger;
  color: rgb(100, 99, 99);
}

#home-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#menu-link {
  font-size: larger;
  color: rgb(100, 99, 99);
}

#menu-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#contact-link {
  font-size: larger;
  color: rgb(100, 99, 99);
}

#contact-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#gallery-link {
  font-size: larger;
  color: rgb(100, 99, 99);
}

#gallery-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#about {
  color: #eaeff3;
  font-family: sans-serif;
  float: right;
}

#address {
  color: #eaeff3;
  font-size: larger;
  display: block;
}

#about-row {
  padding: 2%;
  margin-top: 2%;
}

footer {
  color: #eaeff3;
  font-family: sans-serif;
  text-align: center;
}

#footer-link {
  color: #eaeff3;
  font-family: sans-serif;
}

#about-us {
  text-align: justify;
  width: 75%;
}

#coffee {
  border-radius: 1%;
  max-width: 100%;
  height: auto;
}

#poke-bowl {
  max-width: 75%;
  height: auto;
}
