header {
  background-color: #eaeff3;
  padding: 50px;
  padding-bottom: 70px;
}

h1 {
  color: rgb(100, 99, 99);
  font-family: Barrington
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  padding: 20px;
}

h2 {
  font-family: Barrington;
  font-weight: 500;
  font-size: 40px;
  color: #eaeff3;
  margin-top: 40px;
  padding: 10px;
  margin-bottom: 20px;
}

body {
  background-color: rgb(43, 41, 41);
}

#home {
  list-style-type: none;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#home-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#home-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#food-menu {
  list-style-type: none;
  font-family: Barrington;
  font-size: 20px;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#menu-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#menu-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#contact {
  list-style-type: none;
  font-family: Barrington;
  font-size: 20px;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#contact-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#contact-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#gallery {
  list-style-type: none;
  font-family: Barrington;
  font-size: 20px;
  float: right;
  padding: 10px;
  padding-left: 20px;
}

#gallery-link {
  font-family: Barrington;
  font-size: 20px;
  color: rgb(100, 99, 99);
}

#gallery-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#about {
  color: #eaeff3;
  font-family: sans-serif;
  float: right;
}

#address {
  color: #eaeff3;
  font-size: 20px;
  display: block;
  font-family: Barrington
  margin-left: 30px;
  margin-bottom: 30px;
}

.row {
  padding: 20px;
  margin-top: 20px;
}

footer {
  color: #eaeff3;
  font-family: sans-serif;
  text-align: center;
}

#footer-link {
  color: #eaeff3;
  font-family: sans-serif;
}

#google-link {
  color: #eaeff3;
  font-family: sans-serif;
  text-emphasis: none;
  display: block;
  line-height: 20px;
  margin-left: 30px;
  margin-top: 50px;
}

#restaurant {
  margin-top: 150px;
  margin-bottom: 50px;
  border-radius: 5px;
}

#about {
  margin-top: 30px;
  float: left;
}

#about-us {
  text-align: justify;
  width: 400px;
}

#coffee {
  border-radius: 5px;
}
