* {
  box-sizing: border-box;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
header {
  background-color: #eaeff3;
  padding-bottom: 1%;
}

h1 {
  color: rgb(100, 99, 99);
  text-align: center;
  font-weight: 600 !important;
  padding-top: 5%;
}

body {
  background-color: rgb(43, 41, 41) !important;
}

#home {
  list-style-type: none;
  float: right;
  padding: 1%;
  padding-left: 2%;
}

#home-link {
  font-size: larger;
  color: rgb(100, 99, 99);
}

#home-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#food-menu {
  list-style-type: none;
  float: right;
  padding: 1%;
  padding-left: 2%;
}

#menu-link {
  font-size: larger;
  color: rgb(100, 99, 99);
}

#menu-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#contact {
  list-style-type: none;
  float: right;
  padding: 1%;
  padding-left: 2%;
}

#contact-link {
  font-size: larger;
  color: rgb(100, 99, 99);
}

#contact-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

#gallery {
  list-style-type: none;
  float: right;
  padding: 1%;
  padding-left: 2%;
}

#gallery-link {
  font-size: larger;
  color: rgb(100, 99, 99);
}

#gallery-link:hover {
  color: rgb(70, 33, 70);
  text-decoration: none;
  font-weight: 700;
}

img {
  width: 100%;
  object-fit: cover;
  margin-top: 5%;
  margin-bottom: 5%;
}

footer {
  color: #eaeff3;
  font-family: sans-serif;
  text-align: center;
}

#footer-link {
  color: #eaeff3;
  font-family: sans-serif;
}

#menus {
  font-family: sans-serif;
  color: #eaeff3;
}

#dropdownMenuButton {
  color: #eaeff3;
  font-size: x-large;
  padding: 4%;
  margin-left: 2%;
  background-color: rgb(100, 99, 99);
}
